#loading{
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(87,87,87,0.97);
    opacity: 0.5;
    text-align: center;
}

#loading span{
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
}

.right-ruler{
    border-right: 1px solid #cccccc;
}

li i{
    color: orange;
}

li .rmv{
    float: right;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
}
li .rmv:hover{
    background: orangered;
    color: white;
}
.list-group-item:hover{
    background: #eeeeee;
}

#unbook{
    display: none;
}

.more,.list-group-item{
    cursor: pointer;
}

td i{
    float: right;
    color: orangered;
}